.App {
  text-align: center;
  padding: 30px;
}

.filter-circle-square {
  display: flex;
  justify-content: end;
  gap: 30px;
}

.filter-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-figures {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.content {
  grid-gap: 20px;
  justify-items: center;
  position: relative;
  margin-top: 30px;
}

.container {
  width: 128px;
  height: 128px;
}

.left-panel {
  position: absolute;
  left: 0;
  background: rgb(208, 206, 206);
  height: fit-content;
  opacity: 0.8;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.colomn-number-block {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  gap: 10px;
}

.colomn-number {
  width: 30px;
  padding: 5px;
}

.not-length {
  align-items: center;
  font-size: 28px;
  font-weight: 300;
}